<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="libraries/bootstrap/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="opmaak.css">-->

        <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="libraries/bootstrap/js/bootstrap.min.js"></script>

        <title>Bakkerij</title>
    </head>
    <body>
        <!--        <div class="navbar-header">
                    <p>Onze bakkerij</p>
                </div>-->
        <div id="navbar" class="navbar-collapse collapse">
            <nav class="menu">
                <ul class='nav nav-pills'>
                    <li class='active'><a href="hoofdpagina.php">Home</a></li> <!-- soort sitemap, wat is er te vinden op de site, wat staat waar--> 
                    <li class='dropdown'>
                        <a class='dropdown-toggle' data-toggle='dropdown' href="nieuwebestelling.php">Bestellingen
                            <span class='caret'></span></a> 
                        <ul class='dropdown-menu'>
                            <li><a href="nieuwebestelling.php">Nieuwe bestelling</a></li> 
                            <li><a href="bestellingnakijken.php">Bestelling nakijken</a></li>
                            <li><a href="bestellingannuleren.php">Bestelling annuleren</a></li>
                        </ul></li>      
                    <li><a href="overons.php">Over ons</a></li> 
                    {% if klant is not defined %}
                    <li class="navbar-right" ><a href="aanmelden.php">Aanmelden</a></li> 
                    <li class="navbar-right" ><a href="registreren.php">Registreren</a></li> 
                    {% endif %}
                    {% if klant is defined %}
                    <li class="navbar-right" >Welkom {{klant.voornaam}} {{klant.naam}} </li> 
                    {% endif %}
                    
                </ul>
            </nav>
        </div> 

        <!--Verondersteld al aangemeld-->
        <section class="container jumbotron">
            <h1>Welkom bij 't Croissantje!</h1>
        </section>    
        <section class="container">    
            <p>
                Welkom op onze nieuwe site! Net zoals vroeger kunnen jullie nog steeds terecht in de bakkerij om brood en gebak te kopen. Wil je echter niet het gevaar lopen dat je favoriete brood uitverkocht is? Of wil je 's avonds kort voor sluitingstijd nog snel om een eclair kunnen komen? Dan kan je vanaf nu ook via de website je bestelling doorgeven. 
            </p>
            <h2>Hoe werkt het?</h2>
            <p>
                Je kan een bestelling plaatsen tot 3 dagen op voorhand. 
            </p>
            <p>
                Je bestelt je brood en/of gebak dus ten laatste de dag ervoor. De dag zelf kom je tijdens de <a href="overons.html">openingsuren</a> langs om je bestelling op te halen. 
            </p>
            <p>   
                De betaling gebeurt bij het ophalen van de bestelling. 
            </p>
        </section>

    </body>
</html>

